#### Organising data in preparation for close reading grounded coding

In [3]:
from bertopic import BERTopic

topic_inmodel=BERTopic.load("topic_inmodel_merge")

In [31]:
# fetching inbody from excel file previously saved

import pandas as pd

indf=pd.read_excel('in_input_data.xlsx')

input_data = pd.read_excel('in_input_data.xlsx')

intitle=input_data['title']
inbody=input_data['body']
indate=input_data['date']
insource=input_data['source']

In [32]:
indf

,title,body,date,source
0,"Australian wildfire razes 27 homes, one man dead",Sydney: A fast-moving wildfire destroyed at le...,2014-01-13,NDTV
1,Australia braces for fire danger as heatwave hits,Sydney: Australian authorities warned on Tuesd...,2014-01-14,NDTV
2,Australian wildfires destroy at least 20 homes,Melbourne: At least 20 homes have been razed i...,2014-02-10,NDTV
3,Costs of natural disasters in China surge to $...,"Beijing: Natural disasters including droughts,...",2014-02-24,NDTV
4,Poll trends suggest my responsibilities are in...,Balasore: Narendra Modi today said the trends ...,2014-04-11,NDTV
...,...,...,...,...
2162,Mother Dairy To Hike Milk Prices by Rs 2 Per L...,Mother Dairy to hike milk prices by Rs 2/litre...,2022-12-26,NDTV
2163,Mother Dairy to hike milk prices by Rs 2/litre...,"NEW DELHI: Citing rise in input costs, the Mot...",2022-12-26,The Times of India
2164,Why Mother Dairy Has Hiked Its Milk Prices In ...,New Delhi: Mother Diary has once again hiked i...,2022-12-27,India.com
2165,"Signs Of Apocalypse? 2022 Saw Floods, Heatwave...",And on the year that humanity welcomed its eig...,2022-12-27,NDTV
2166,In Pics: Biggest World Events Of 2022,Ukraine has put up a spirited resistance to th...,2022-12-29,NDTV

#### Dataframe for topics and their representative documents

In [33]:
topics_info_withoutliers=topic_inmodel.get_topic_info()

# Dropping the outliers from the dataframe 
topics_info = topics_info_withoutliers.drop(0)  # Drop the first row
topics_info = topics_info.reset_index(drop=True)  # Reset the index numbering

topics_info

,Topic,Count,Name,Representation,Representative_Docs
0,0,500,0_degrees_temperature_maximum_heatwave,"[degrees, temperature, maximum, heatwave, delh...",[NEW DELHI: The minimum temperature in Delhi o...
1,1,239,1_temperatures_fire_fires_heat,"[temperatures, fire, fires, heat, heatwave, cl...",[Europe Heat Wave: Temperatures in France coul...
2,2,205,2_heatwave_heat_temperature_districts,"[heatwave, heat, temperature, districts, degre...",[NEW DELHI: Most parts of the country sweltere...
3,3,122,3_rainfall_monsoon_rain_तापमान,"[rainfall, monsoon, rain, तापमान, weather, del...",[कुछ राज्यों में हीटवेव अलर्ट केरल-असम में बार...
4,4,78,4_schools_summer_teachers_timings,"[schools, summer, teachers, timings, parents, ...",[JAIPUR: The state education department on Mon...
5,5,75,5_coal_electricity_plants_outages,"[coal, electricity, plants, outages, governmen...",[An energy crisis is looming over a vast swath...
6,6,52,6_trees_green_urban_forest,"[trees, green, urban, forest, gardens, planted...",[Hyderabad: With the GHMC planning to give a m...
7,7,46,7_wheat_prices_tonnes_exports,"[wheat, prices, tonnes, exports, crop, india, ...","[NEW DELHI: In a drastic move, India on Saturd..."
8,8,42,8_china_yangtze_chongqing_drought,"[china, yangtze, chongqing, drought, shanghai,...","[NEW DELHI: Wan Jinjun, a 62-year-old retiree ..."
9,9,37,9_climate_emissions_change_warming,"[climate, emissions, change, warming, carbon, ...",[PARIS: Nearly 200 nations start online negoti...
10,10,31,10_champion_hamilton_england_test,"[champion, hamilton, england, test, ferrari, t...","[HOCKENHEIM, Germany (AP) -- Lewis Hamilton to..."
11,11,31,11_reef_fire_bushfire_coral,"[reef, fire, bushfire, coral, fires, wales, bu...",[SYDNEY: Australia ordered residents and touri...
12,12,29,12_birds_animals_water_zoo,"[birds, animals, water, zoo, pets, animal, ele...","[Like every winter, the Surajpur Wetland and O..."
13,13,24,13_water_tankers_wazirabad_djb,"[water, tankers, wazirabad, djb, drainage, lit...",[NEW DELHI: Amid a deadly heatwave building up...
14,14,20,14_california_fire_angeles_floods,"[california, fire, angeles, floods, acres, wil...",[LOS ANGELES: The first major wildfires after ...
15,15,19,15_post_anushka_sharma_instagram,"[post, anushka, sharma, instagram, actress, cr...",[Sumona Chakravarti shared this image. (Courte...
16,16,19,16_tokyo_japan_japanese_organisers,"[tokyo, japan, japanese, organisers, olympics,...","[TOKYO: An ""unprecedented"" heatwave in Japan h..."
17,17,15,17_inflation_prices_growth_fiscal,"[inflation, prices, growth, fiscal, india, dem...","[If realised, inflation would be above 7% for ..."
18,18,12,18_mango_mangoes_market_farmers,"[mango, mangoes, market, farmers, crop, fruits...","[Surat: For mango lovers, this could be a good..."

In [34]:
# Getting a dataframe with three representative documents 

inrepdocs = []
for n in range(0, len(topics_info)):
    new_df = {}
    new_df['topic'] = n
    new_df['Doc1'] = topic_inmodel.get_representative_docs(n)[0]
    new_df['Doc2'] = topic_inmodel.get_representative_docs(n)[1]
    new_df['Doc3'] = topic_inmodel.get_representative_docs(n)[2]
    inrepdocs.append(new_df)

topics_repdocs = pd.DataFrame(inrepdocs)
topics_repdocs

,topic,Doc1,Doc2,Doc3
0,0,NEW DELHI: The minimum temperature in Delhi on...,NEW DELHI: Parts of northern and western India...,Delhi weather update: The India Meteorological...
1,1,Europe Heat Wave: Temperatures in France could...,Scientists have said climate change is the cau...,Britain's previous all-time temperature record...
2,2,NEW DELHI: Most parts of the country sweltered...,NEW DELHI: Amid a punishing heatwave building ...,NEW DELHI: The ongoing heatwave sweeping throu...
3,3,कुछ राज्यों में हीटवेव अलर्ट केरल-असम में बारि...,राजस्थान के कुछ हिस्सों में 7 मई से लू की संभा...,NEW DELHI: The southwest monsoon reached Mahar...
4,4,JAIPUR: The state education department on Mond...,KOLKATA: The Council for Indian School Certifi...,Bhubaneswar: The state government on Saturday ...
5,5,An energy crisis is looming over a vast swathe...,NEW DELHI: With the temperature inching toward...,NEW DELHI: India is facing its worst power cri...
6,6,Hyderabad: With the GHMC planning to give a ma...,KOLKATA: The city had the least forest cover a...,People travel by Metro for its frequency of se...
7,7,"NEW DELHI: In a drastic move, India on Saturda...",India Wheat Export Ban: The reasons given were...,"NEW DELHI: In a surprise move, the government ..."
8,8,"NEW DELHI: Wan Jinjun, a 62-year-old retiree w...","Experts have said the intensity, scope and dur...",China is reeling under a massive heatwave. The...
9,9,PARIS: Nearly 200 nations start online negotia...,As of now the world is about 1.1 degrees warme...,"Record-smashing heatwaves, floods and drought ..."
10,10,"HOCKENHEIM, Germany (AP) -- Lewis Hamilton too...","Hockenheim, Germany, July 25, 2019 (AFP) - Lew...",HOCKENHEIM: Lewis Hamilton fears that a prolon...
11,11,SYDNEY: Australia ordered residents and touris...,Four thousand people are trapped on the foresh...,SYDNEY: Thousands of holidaymakers and locals ...
12,12,"Like every winter, the Surajpur Wetland and Ok...",Milton.Lawrence\n\nMysuru: Sizzling summer tem...,Gurgaon: The weather may have turned for the b...
13,13,NEW DELHI: Amid a deadly heatwave building up ...,NEW DELHI: The Delhi government has sent an SO...,Delhi water crisis: The Delhi government had e...
14,14,LOS ANGELES: The first major wildfires after t...,LOS ANGELES: Californians sweated it out amid ...,LOS ANGELES: Californians tried to weather the...
15,15,Sumona Chakravarti shared this image. (Courtes...,Anushka Sharma post practice session. (courtes...,Anushka Sharma. (courtesy: anushkasharma)\n\nA...
16,16,"TOKYO: An ""unprecedented"" heatwave in Japan ha...","The election, which is expected to see Shinzo ...",TOKYO: Japanese voters cast their ballots on S...
17,17,"If realised, inflation would be above 7% for t...",NEW DELHI: The Reserve Bank of India's (RBI) M...,"NEW DELHI: Higher oil prices, slowing global d..."
18,18,"Surat: For mango lovers, this could be a good ...","MALIHABAD: Every day, octogenarian Kaleem Ulla...",India's Mango Man: Indian octogenarian Kaleem ...

In [35]:
# Combining the two dataframes

topics_newdf = pd.concat([topics_info,topics_repdocs],axis=1) 
topics_alldf = topics_newdf.drop(['Representative_Docs', 'topic'], axis=1)

# If you want to modify the DataFrame in-place, use the inplace parameter
# topics_newdf.drop(['Representation', 'Representative_Docs', 'topic'], axis=1, inplace=True)

# Display the modified DataFrame
topics_alldf

,Topic,Count,Name,Representation,Doc1,Doc2,Doc3
0,0,500,0_degrees_temperature_maximum_heatwave,"[degrees, temperature, maximum, heatwave, delh...",NEW DELHI: The minimum temperature in Delhi on...,NEW DELHI: Parts of northern and western India...,Delhi weather update: The India Meteorological...
1,1,239,1_temperatures_fire_fires_heat,"[temperatures, fire, fires, heat, heatwave, cl...",Europe Heat Wave: Temperatures in France could...,Scientists have said climate change is the cau...,Britain's previous all-time temperature record...
2,2,205,2_heatwave_heat_temperature_districts,"[heatwave, heat, temperature, districts, degre...",NEW DELHI: Most parts of the country sweltered...,NEW DELHI: Amid a punishing heatwave building ...,NEW DELHI: The ongoing heatwave sweeping throu...
3,3,122,3_rainfall_monsoon_rain_तापमान,"[rainfall, monsoon, rain, तापमान, weather, del...",कुछ राज्यों में हीटवेव अलर्ट केरल-असम में बारि...,राजस्थान के कुछ हिस्सों में 7 मई से लू की संभा...,NEW DELHI: The southwest monsoon reached Mahar...
4,4,78,4_schools_summer_teachers_timings,"[schools, summer, teachers, timings, parents, ...",JAIPUR: The state education department on Mond...,KOLKATA: The Council for Indian School Certifi...,Bhubaneswar: The state government on Saturday ...
5,5,75,5_coal_electricity_plants_outages,"[coal, electricity, plants, outages, governmen...",An energy crisis is looming over a vast swathe...,NEW DELHI: With the temperature inching toward...,NEW DELHI: India is facing its worst power cri...
6,6,52,6_trees_green_urban_forest,"[trees, green, urban, forest, gardens, planted...",Hyderabad: With the GHMC planning to give a ma...,KOLKATA: The city had the least forest cover a...,People travel by Metro for its frequency of se...
7,7,46,7_wheat_prices_tonnes_exports,"[wheat, prices, tonnes, exports, crop, india, ...","NEW DELHI: In a drastic move, India on Saturda...",India Wheat Export Ban: The reasons given were...,"NEW DELHI: In a surprise move, the government ..."
8,8,42,8_china_yangtze_chongqing_drought,"[china, yangtze, chongqing, drought, shanghai,...","NEW DELHI: Wan Jinjun, a 62-year-old retiree w...","Experts have said the intensity, scope and dur...",China is reeling under a massive heatwave. The...
9,9,37,9_climate_emissions_change_warming,"[climate, emissions, change, warming, carbon, ...",PARIS: Nearly 200 nations start online negotia...,As of now the world is about 1.1 degrees warme...,"Record-smashing heatwaves, floods and drought ..."
10,10,31,10_champion_hamilton_england_test,"[champion, hamilton, england, test, ferrari, t...","HOCKENHEIM, Germany (AP) -- Lewis Hamilton too...","Hockenheim, Germany, July 25, 2019 (AFP) - Lew...",HOCKENHEIM: Lewis Hamilton fears that a prolon...
11,11,31,11_reef_fire_bushfire_coral,"[reef, fire, bushfire, coral, fires, wales, bu...",SYDNEY: Australia ordered residents and touris...,Four thousand people are trapped on the foresh...,SYDNEY: Thousands of holidaymakers and locals ...
12,12,29,12_birds_animals_water_zoo,"[birds, animals, water, zoo, pets, animal, ele...","Like every winter, the Surajpur Wetland and Ok...",Milton.Lawrence\n\nMysuru: Sizzling summer tem...,Gurgaon: The weather may have turned for the b...
13,13,24,13_water_tankers_wazirabad_djb,"[water, tankers, wazirabad, djb, drainage, lit...",NEW DELHI: Amid a deadly heatwave building up ...,NEW DELHI: The Delhi government has sent an SO...,Delhi water crisis: The Delhi government had e...
14,14,20,14_california_fire_angeles_floods,"[california, fire, angeles, floods, acres, wil...",LOS ANGELES: The first major wildfires after t...,LOS ANGELES: Californians sweated it out amid ...,LOS ANGELES: Californians tried to weather the...
15,15,19,15_post_anushka_sharma_instagram,"[post, anushka, sharma, instagram, actress, cr...",Sumona Chakravarti shared this image. (Courtes...,Anushka Sharma post practice session. (courtes...,Anushka Sharma. (courtesy: anushkasharma)\n\nA...
16,16,19,16_tokyo_japan_japanese_organisers,"[tokyo, japan, japanese, organisers, olympics,...","TOKYO: An ""unprecedented"" heatwave in Japan ha...","The election, which is expected to see Shinzo ...",TOKYO: Japanese voters cast their ballots on S...
17,17,15,17_inflation_prices_growth_fiscal,"[inflation, prices, growth, fiscal, india, dem...","If realised, inflation would be above 7% for t...",NEW DELHI: The Reserve Bank of India's (RBI) M...,"NEW DELHI: Higher oil prices, slowing global d..."
18,18,12,18_mango_mangoes_market_farmers,"[mango, mangoes, market, farmers, crop, fruits...","Surat: For mango lovers, this could be a good ...","MALIHABAD: Every day, octogenarian Kaleem Ulla...",India's Mango Man: Indian octogenarian Kaleem ...

In [21]:
# save as excel file

topics_alldf.to_excel('in_newsbody_repdocs.xlsx', index=False)

#### Dataframe for all articles and their related information

In [67]:
indocs_all=topic_inmodel.get_document_info(inbody)

In [68]:
indocs_all

,Document,Topic,Name,Representation,Representative_Docs,Top_n_words,Probability,Representative_document
0,Sydney: A fast-moving wildfire destroyed at le...,11,11_reef_fire_bushfire_coral,"[reef, fire, bushfire, coral, fires, wales, bu...",[SYDNEY: Australia ordered residents and touri...,reef - fire - bushfire - coral - fires - wales...,0.701012,False
1,Sydney: Australian authorities warned on Tuesd...,11,11_reef_fire_bushfire_coral,"[reef, fire, bushfire, coral, fires, wales, bu...",[SYDNEY: Australia ordered residents and touri...,reef - fire - bushfire - coral - fires - wales...,1.000000,False
2,Melbourne: At least 20 homes have been razed i...,11,11_reef_fire_bushfire_coral,"[reef, fire, bushfire, coral, fires, wales, bu...",[SYDNEY: Australia ordered residents and touri...,reef - fire - bushfire - coral - fires - wales...,1.000000,False
3,"Beijing: Natural disasters including droughts,...",8,8_china_yangtze_chongqing_drought,"[china, yangtze, chongqing, drought, shanghai,...","[NEW DELHI: Wan Jinjun, a 62-year-old retiree ...",china - yangtze - chongqing - drought - shangh...,0.330979,False
4,Balasore: Narendra Modi today said the trends ...,-1,-1_degrees_temperature_heatwave_heat,"[degrees, temperature, heatwave, heat, climate...",[NEW DELHI: Parts of Delhi sweltered under a s...,degrees - temperature - heatwave - heat - clim...,0.922046,False
...,...,...,...,...,...,...,...,...
2162,Mother Dairy to hike milk prices by Rs 2/litre...,-1,-1_degrees_temperature_heatwave_heat,"[degrees, temperature, heatwave, heat, climate...",[NEW DELHI: Parts of Delhi sweltered under a s...,degrees - temperature - heatwave - heat - clim...,0.761953,False
2163,"NEW DELHI: Citing rise in input costs, the Mot...",-1,-1_degrees_temperature_heatwave_heat,"[degrees, temperature, heatwave, heat, climate...",[NEW DELHI: Parts of Delhi sweltered under a s...,degrees - temperature - heatwave - heat - clim...,0.758215,False
2164,New Delhi: Mother Diary has once again hiked i...,-1,-1_degrees_temperature_heatwave_heat,"[degrees, temperature, heatwave, heat, climate...",[NEW DELHI: Parts of Delhi sweltered under a s...,degrees - temperature - heatwave - heat - clim...,0.756677,False
2165,And on the year that humanity welcomed its eig...,9,9_climate_emissions_change_warming,"[climate, emissions, change, warming, carbon, ...",[PARIS: Nearly 200 nations start online negoti...,climate - emissions - change - warming - carbo...,0.258277,False
2166,Ukraine has put up a spirited resistance to th...,1,1_temperatures_fire_fires_heat,"[temperatures, fire, fires, heat, heatwave, cl...",[Europe Heat Wave: Temperatures in France coul...,temperatures - fire - fires - heat - heatwave ...,1.000000,False

In [69]:
indf

,title,body,date,source
0,"Australian wildfire razes 27 homes, one man dead",Sydney: A fast-moving wildfire destroyed at le...,2014-01-13,NDTV
1,Australia braces for fire danger as heatwave hits,Sydney: Australian authorities warned on Tuesd...,2014-01-14,NDTV
2,Australian wildfires destroy at least 20 homes,Melbourne: At least 20 homes have been razed i...,2014-02-10,NDTV
3,Costs of natural disasters in China surge to $...,"Beijing: Natural disasters including droughts,...",2014-02-24,NDTV
4,Poll trends suggest my responsibilities are in...,Balasore: Narendra Modi today said the trends ...,2014-04-11,NDTV
...,...,...,...,...
2162,Mother Dairy To Hike Milk Prices by Rs 2 Per L...,Mother Dairy to hike milk prices by Rs 2/litre...,2022-12-26,NDTV
2163,Mother Dairy to hike milk prices by Rs 2/litre...,"NEW DELHI: Citing rise in input costs, the Mot...",2022-12-26,The Times of India
2164,Why Mother Dairy Has Hiked Its Milk Prices In ...,New Delhi: Mother Diary has once again hiked i...,2022-12-27,India.com
2165,"Signs Of Apocalypse? 2022 Saw Floods, Heatwave...",And on the year that humanity welcomed its eig...,2022-12-27,NDTV
2166,In Pics: Biggest World Events Of 2022,Ukraine has put up a spirited resistance to th...,2022-12-29,NDTV

In [70]:
# Get document info and combine with other data, drop unnecessary columns, rename, and reorder
indocs_allinfo = (pd.concat([indocs_all, indf], axis=1)
                  .drop(['Top_n_words', 'Document'], axis=1)
                  .rename(columns={'title': 'Headline',
                                   'body': 'Body',
                                   'date': 'Date',
                                   'source': 'Source'})
                  [['Headline', 'Body', 'Topic', 'Name', 'Representation', 'Date', 'Source', 
                    'Representative_Docs', 'Probability', 'Representative_document']])

# Display the final DataFrame
indocs_allinfo

,Headline,Body,Topic,Name,Representation,Date,Source,Representative_Docs,Probability,Representative_document
0,"Australian wildfire razes 27 homes, one man dead",Sydney: A fast-moving wildfire destroyed at le...,11,11_reef_fire_bushfire_coral,"[reef, fire, bushfire, coral, fires, wales, bu...",2014-01-13,NDTV,[SYDNEY: Australia ordered residents and touri...,0.701012,False
1,Australia braces for fire danger as heatwave hits,Sydney: Australian authorities warned on Tuesd...,11,11_reef_fire_bushfire_coral,"[reef, fire, bushfire, coral, fires, wales, bu...",2014-01-14,NDTV,[SYDNEY: Australia ordered residents and touri...,1.000000,False
2,Australian wildfires destroy at least 20 homes,Melbourne: At least 20 homes have been razed i...,11,11_reef_fire_bushfire_coral,"[reef, fire, bushfire, coral, fires, wales, bu...",2014-02-10,NDTV,[SYDNEY: Australia ordered residents and touri...,1.000000,False
3,Costs of natural disasters in China surge to $...,"Beijing: Natural disasters including droughts,...",8,8_china_yangtze_chongqing_drought,"[china, yangtze, chongqing, drought, shanghai,...",2014-02-24,NDTV,"[NEW DELHI: Wan Jinjun, a 62-year-old retiree ...",0.330979,False
4,Poll trends suggest my responsibilities are in...,Balasore: Narendra Modi today said the trends ...,-1,-1_degrees_temperature_heatwave_heat,"[degrees, temperature, heatwave, heat, climate...",2014-04-11,NDTV,[NEW DELHI: Parts of Delhi sweltered under a s...,0.922046,False
...,...,...,...,...,...,...,...,...,...,...
2162,Mother Dairy To Hike Milk Prices by Rs 2 Per L...,Mother Dairy to hike milk prices by Rs 2/litre...,-1,-1_degrees_temperature_heatwave_heat,"[degrees, temperature, heatwave, heat, climate...",2022-12-26,NDTV,[NEW DELHI: Parts of Delhi sweltered under a s...,0.761953,False
2163,Mother Dairy to hike milk prices by Rs 2/litre...,"NEW DELHI: Citing rise in input costs, the Mot...",-1,-1_degrees_temperature_heatwave_heat,"[degrees, temperature, heatwave, heat, climate...",2022-12-26,The Times of India,[NEW DELHI: Parts of Delhi sweltered under a s...,0.758215,False
2164,Why Mother Dairy Has Hiked Its Milk Prices In ...,New Delhi: Mother Diary has once again hiked i...,-1,-1_degrees_temperature_heatwave_heat,"[degrees, temperature, heatwave, heat, climate...",2022-12-27,India.com,[NEW DELHI: Parts of Delhi sweltered under a s...,0.756677,False
2165,"Signs Of Apocalypse? 2022 Saw Floods, Heatwave...",And on the year that humanity welcomed its eig...,9,9_climate_emissions_change_warming,"[climate, emissions, change, warming, carbon, ...",2022-12-27,NDTV,[PARIS: Nearly 200 nations start online negoti...,0.258277,False
2166,In Pics: Biggest World Events Of 2022,Ukraine has put up a spirited resistance to th...,1,1_temperatures_fire_fires_heat,"[temperatures, fire, fires, heat, heatwave, cl...",2022-12-29,NDTV,[Europe Heat Wave: Temperatures in France coul...,1.000000,False

In [72]:
indocs_allinfo.to_excel('in_newsbody_allinfo.xlsx', index=False)

#### The next step is to perform grounded theory analysis on representative documents of all topics